# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Poetry specific
.poetry/
.cache/
.pdm.toml

# Virtual environments
.venv/
venv/
ENV/
env/
env.bak/
venv.bak/

# Flask specific
instance/
.webassets-cache

# Logs
*.log

# Database files
*.sqlite3

# Alembic migrations
migrations/versions/*

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/
.cache/
.pytest_cache/v/*

# Jupyter Notebook
.ipynb_checkpoints

# macOS specific
.DS_Store

# IDE files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# MySQL dumps
*.sql

# Windows specific
Thumbs.db
desktop.ini

# PyCharm
.idea/

# Environment variables
.env
.env.*

# PosgreSQL data folder 
db_data